.productBox {
  width: calc(25% - 70px);
  min-width: 210px;
  margin: 20px;
  padding: 30px 15px;
}

.productBoxImage {
  text-align: center;
  height: 180px;
}
.productImageClass {
  width: auto;
  max-height: 180px;
  max-width: 100%;
}
.productBoxContent {
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.productSmallInfo {
  height: 20px;
  font-size: 16px;
  vertical-align: middle;
}
.productName {
  padding: 16px 0;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productBoxButton {
  text-align: center;
}
.productButton {
  width: 100%;
  padding: 5px 0;
  text-transform: capitalize;
  border: 1px solid #17555e;
  background-color: transparent;
  color: #17555e;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.productButton:hover {
  color: #fff;
  background-color: #17555e;
}

.productButtonDisabled {
  width: 100%;
  padding: 5px 0;
  text-transform: capitalize;
  border: 1px solid #17555e;
  background-color: transparent;
  color: #17555e;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  border: 1px solid #d7d7d7;
  background-color: transparent;
  color: #aaa;
}
