.header {
  border-bottom: 1px solid rgba(215, 215, 215, 0.5);
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
}
.headerContainer {
  width: calc(100% - 120px);
  padding: 0 60px;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}
.headerLogo {
  width: 20%;
}
.headerInput {
  width: 50%;
  position: relative;
}
.headerOption {
  width: 30%;
  justify-content: space-between;
}
.headerButtonBox {
  padding-left: 5rem;
  width: 50%;
}
.headerOption {
  display: flex;
  align-items: center;
}
li.headerListItem {
  width: 45px;
  padding: 10px 5px;
  text-align: center;
  color: #777777;
  position: relative;
}

.notification {
  background-color: #17555e;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.headerInputField {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #eeeeee;
  outline: none;
  border-radius: 1px;
}
.headerButton {
  background: #ec6661;
  border: none;
  color: #fff;
  padding: 0 10px;
  height: 50px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
.navOption {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.headerIcon {
  color: #777777;
  height: 25px;
  width: 35px;
}
.headerIconDescription {
  font-size: 12px;
}
.searchIcon {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 2rem;
  transform: translate(-50%, -37%);
  color: #ddd;
}
.cartButton {
  background: transparent;
  border: none;
  color: #777;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .headerLogo {
    width: 30%;
  }

  .headerInput {
    width: 33%;
  }

  .headerOption {
    width: 46%;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    width: calc(100% - 20px);
    padding: 0 10px;
    flex-wrap: wrap;
  }

  .headerLogo {
    width: 30%;
  }

  .headerInput {
    width: 30%;
  }

  .headerOption {
    width: 40%;
    justify-content: flex-end;
  }

  .headerButtonBox {
    display: none;
  }
  .navOption {
    justify-content: space-between;
    width: 80%;
  }
}

@media only screen and (max-width: 540px) {
  li.headerListItem:first-child {
    display: none;
  }
  .headerOption {
    width: 60%;
    justify-content: flex-end;
  }
  li.headerListItem:nth-child(2) {
    display: none;
  }
  li.headerListItem:last-child {
    display: block;
  }
  .headerInput {
    display: none;
  }
}
